div.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  padding: 1.5rem 0;
}

main {
  flex-grow: 1;
  width: inherit;
  padding: 1.5rem 0;
}
