section.game-box > div.start-screen-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

section.game-box > div.start-screen-container > h2 {
    font-size: 3rem;
    margin: 0;
    padding: 2.5rem 0;
}

/* FORM */
div.start-screen-container > form.form-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    gap: 4rem;
    width: 100%;
    padding: 0 4rem 2rem 4rem;
    margin-bottom: 2rem; /* TO AVOID GRASS */
}

form.form-wrapper > .form-section {
    display: flex;
    color: hsl(224, 50%, 45%);
    font-weight: bold;
}

form.form-wrapper > .form-section.hero {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

form.form-wrapper > .form-section.hero * label {
    text-transform: uppercase;
}

form.form-wrapper > .form-section.hero > div.fieldset-option {
    padding: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

/* HERO */
form.form-wrapper > .form-section.hero,
form.form-wrapper > .form-section.obstacles {
    border: 0.1rem dashed hsl(224, 50%, 45%);
    height: 100%;
    width: 100%;
}

/* OBSTACLES */
form.form-wrapper > .form-section.obstacles {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2rem;
}

form.form-wrapper > .form-section.obstacles * label {
    margin-left: 1rem;
}

form.form-wrapper > .form-section.obstacles > div.fieldset-option {
    padding: 1.5rem;
    margin: -1rem;
    width: 100%;
}

form.form-wrapper > .form-section.obstacles > div.fieldset-option:hover,
form.form-wrapper > .form-section.hero > div.fieldset-option:hover {
    background-color: hsla(224, 50%, 45%, 0.5);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.imitate-hover {
    background-color: hsl(224, 50%, 45%);
    color: hsl(0, 0%, 100%);
}

/* SUBMIT */
form.form-wrapper > .form-section.submit {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 2rem;
}

form.form-wrapper > .form-section.submit > label {
   color: hsl(224, 50%, 45%);
   font-weight: bold;
   font-size: 2.5rem;
   cursor: pointer;
}

.custom-number-container {
    font-size: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.custom-number-container > input {
    height: 2.5rem;
    width: 5rem;
    font-size: 1.7rem;
    padding: 0.5rem;
    color: hsl(0, 0%, 100%);
    background-color: hsla(0, 0%, 100%, 0.1);
    border: 0.1rem dashed hsl(0, 0%, 100%);
}

/* Do not group these rules! */
.custom-number-container > input::-webkit-input-placeholder {
    color: hsl(0, 0%, 100%);
}
.custom-number-container > input:-moz-placeholder {
    /* FF 4-18 */
    color: hsl(0, 0%, 100%);
    opacity: 1;
}
.custom-number-container > input::-moz-placeholder {
    /* FF 19+ */
    color: hsl(0, 0%, 100%);
    opacity: 1;
}
.custom-number-container > input:-ms-input-placeholder {
    /* IE 10+ */
    color: hsl(0, 0%, 100%);
}
.custom-number-container > input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: hsl(0, 0%, 100%);
}
.custom-number-container > input::placeholder {
    /* modern browser */
    color: hsl(0, 0%, 100%);
}