section.game-box {
    position: relative;
    display: flex;
    max-width: 60%;
    aspect-ratio: 21 / 9;
    margin: 0 auto;
    overflow: hidden;
    background-color: hsl(225, 80%, 78%);
    outline: 0.2rem solid white;
}

section.game-box > .grass {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
    background-color: hsl(120, 50%, 45%);
}