section.game-box {
    position: relative;
    display: flex;
    max-width: 60%;
    aspect-ratio: 21 / 9;
    margin: 0 auto;
    border: 0.15rem solid var(--background-secondary-color-light);
    overflow: hidden;
}

/* TODO: Style .game-box for mobile! */

section.game-box > .ball {
    position: absolute;
    bottom: 0;
    width: 1.5rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--text-secondary-color-dark);
    border: 0.1rem solid var(--text-primary-color);
}