section.game-box > .hero {
    position: absolute;
    bottom: 2rem;
    left: -4rem;
    height: 4rem;
    width: 2.5rem;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    cursor: pointer;
}

section.game-box > .agnes {
    background-image: url('../../../../assets/agnes.gif');
}

section.game-box > .henry {
    background-image: url('../../../../assets/henry.gif');
}